version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: deepstack_travel
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

  app:
    image: ${DOCKERHUB_USERNAME}/deepstack-travel-backend:latest
    container_name: spring_boot_app
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=${DB_URL}
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_TOKEN_VALIDITY_IN_SECONDS=${JWT_EXPIRATION_SECONDS}
      - SPRING_PROFILES_ACTIVE=prod
    ports:
      - "8080:8080"

volumes:
  db-data:
